name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * 1"
jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
